@model SchoolMedical.Repositories.HoaLQ.Models.HealthProfilesHoaLq

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HealthProfilesHoaLq</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sight" class="control-label"></label>
                <input asp-for="Sight" class="form-control" />
                <span asp-validation-for="Sight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hearing" class="control-label"></label>
                <input asp-for="Hearing" class="form-control" />
                <span asp-validation-for="Hearing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodPressure" class="control-label"></label>
                <input asp-for="BloodPressure" class="form-control" />
                <span asp-validation-for="BloodPressure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Allergy" class="control-label"></label>
                <input asp-for="Allergy" class="form-control" />
                <span asp-validation-for="Allergy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChronicDisease" class="control-label"></label>
                <input asp-for="ChronicDisease" class="form-control" />
                <span asp-validation-for="ChronicDisease" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalHistory" class="control-label"></label>
                <input asp-for="MedicalHistory" class="form-control" />
                <span asp-validation-for="MedicalHistory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentMedical" class="control-label"></label>
                <input asp-for="CurrentMedical" class="form-control" />
                <span asp-validation-for="CurrentMedical" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodType" class="control-label"></label>
                <input asp-for="BloodType" class="form-control" />
                <span asp-validation-for="BloodType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sex" /> @Html.DisplayNameFor(model => model.Sex)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

